  
html {
    height: 100%;
}

.body {
    background: url('/media/water-sports-front.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.logo-font {
    font-family: 'Rock Salt';
    font-size: 8vh;
    color: black;
    width: fit-content;
}

.text-font {
    font-family: 'Lato';
}

.explore-button {
    background: white;
    color: black;
    min-width: 260px;
}

.product_image{
    height: 30vh;
    width: 30vh;
}

.heading-color {
    background: rgb(128, 238, 223);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color:  rgb(128, 238, 223) !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .header-container {
        padding-top: 164px;
    }
}

/* pad top when navbar is collapsed */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}